@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
  padding: 5rem 2rem;

  @include m.tablet {
    padding: 5rem;
  }

  &__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-direction: row;
  }

  &__img {
    width: 5rem;
    display: inline-block;
  }

  &__heading {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;

    @include m.tablet {
      font-size: 3rem;
    }
  }

  &__span {
    display: flex;
    align-items: center;
    color: v.$primario;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__menu {
    width: 4rem;

    @include m.tablet {
      display: none;
    }
  }
}
