@use 'base/variables' as v;
@use 'base/mixins' as m;

.beneficios {
  padding: 5rem 0;

  &__heading {
    @include m.heading;
    font-size: 2rem;
  }

  &__grid {
    @include m.tablet {
      @include m.grid(3, 2);
    }
  }

  &__bloque {
    &-heading {
      font-size: 2rem;
      width: 20rem;
      margin: 0 auto;
      text-align: center;
    }

    &-texto {
      font-size: 1.8rem;
    }
  }

  &__imagen {
    margin: 0 auto;
    width: 10rem;
    height: 8rem;
  }
}
